{{ define "main" }}
<main class="main" role="main">

 <form name="contact" class="contact-form width-normal" action="/contact-thank-you/" method="POST" data-netlify="true" netlify-honeypot="bot-field">
  <input type="hidden" name="form-name" value="contact" />
  <p class="hidden">
   <label><input name="bot-field" /></label>
  </p>
  <div class="form-group">
   <!-- Text input-->
   <label class="contact-form-1 control-label" for="Name"></label>
   <div class="contact-form-1">
    <input id="contact-form-name" name="Name" type="text" placeholder="Name" class="form-control input-md" required="" autocomplete="off" maxlength="100">
   </div>
   <!-- Text input-->
   <label class="contact-form-1 control-label" for="Email"></label>
   <div class="contact-form-1">
    <input id="contact-form-email" name="Email" type="email" placeholder="Email" class="form-control input-md" required="" autocomplete="off" maxlength="100">
   </div>
   <!-- Text input-->
   <label class="contact-form-1 control-label" for="Subject"></label>
   <div class="contact-form-1">
    <input id="contact-form-subject" name="Subject" type="text" placeholder="Subject" class="form-control input-md" required="" autocomplete="off" maxlength="200">
   </div>
   <!-- Textarea -->
   <label class="contact-form-1 control-label" for=""></label>
   <textarea class="form-control" id="contact-form-message" name="Message" placeholder="What's up?" rows="8"></textarea>
   <!-- Button -->
   <button class="contact-button" type="submit" value="Submit" id="Form-submit">Submit</button>
  </div>
 </form>
</main>

{{ partial "authorbox.html" . }}
{{ partial "pager.html" . }}

{{ end }}